/** Basic config file **/

configuration {
  show-icons: true;
  icon-theme: "Papirus";
  display-drun: "";
  display-window: "﩯 ";
  display-combi: "  ";
  me-select-entry: "";
  me-accept-entry: [ MousePrimary, MouseSecondary, MouseDPrimary ];
}
@theme "themes/sidetab-nord.rasi"
